{% extends "base.html" %}

{% block content %}
{% csrf_token %}
<div class="admin_ingridient_container">
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {% for dish in add_dish %}
        <ul>
            {{ dish.label }} : {{ dish }}
        </ul>
        {% endfor %}
        <br />
        <div style="border-top: 1px solid; height: 20px;"></div>
        <button class="set_btn" type="submit">Zapisz</button>
        <a href="/catering_przedszkole/adminpage/admin_dania" class="set_btn_back">Anuluj</a>
    </form>
</div>
{% endblock %}