{% extends "base.html" %}

{% block content %}
{% csrf_token %}
    {% for order in user_orders %}
    <div class="container">
        <h1 class="my_orders">Nazwa zestawu: {{order.zestaw.nazwa_zestawu}}</h1>
        <h1 class="my_orders">Data zestawu: {{order.zestaw.data_zestawu}}</h1>
        <h1 class="my_orders">Data zamówienia: {{order.data_zamowienia}}</h1>
        <h1 class="my_orders">Ile zestawów zamówiono: {{order.ilosc_zestawow}}</h1>
        {% if order.komentarz_zamowienia %}
            <h1 class="my_orders">Komentarz do zamówienia: {{order.komentarz_zamowienia}}</h1>
        {% else %}
            <h1 class="my_orders">Komentarz do zamówienia: Brak</h1>
        {% endif %}
        <h1 class="my_orders">Czy zamówienie zostało potwierdzone przez administrację: {{order.status}}</h1>
        <a class="set_btn" style="background-color: rgb(49, 84, 197);" href="admin_zmien_status_potwierdzenia/{{order.ID}}">Zmień status potwierdzenia</a>
        <h1 class="my_orders">Czy zamówienie anulowano: {{order.anulowano}}</h1>
        <a class="set_btn" style="background-color: rgb(49, 84, 197); " href="admin_zmien_status_anulowania/{{order.ID}}">Zmień status anulowania</a>
        {% if order.czy_anulowano %}
            {% if order.powod_anulowania %}
                <h1 class="my_orders">Powód anulowania: {{order.powod_anulowania}}</h1>
            {% else %}
                <h1 class="my_orders">Powód anulowania: Brak</h1>
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}