{% extends "base.html" %}

{% block content %}
{% csrf_token %}
{% for order in user_orders %}
<div class="container">
    <h1 class="my_orders">Nazwa zestawu: {{order.zestaw.nazwa_zestawu}}</h1>
    <h1 class="my_orders">Data zestawu: {{order.zestaw.data_zestawu}}</h1>
    <h1 class="my_orders">Data zamówienia: {{order.data_zamowienia}}</h1>
    <h1 class="my_orders">Cena pojedynczego zestawu: {{order.zestaw.cena_zestawu}} zł</h1>
    <h1 class="my_orders">Ile zestawów zamówiono: {{order.ilosc_zestawow}}</h1>
    <h1 class="my_orders">Kwota do zapłaty: {{order.do_zaplaty}} zł</h1>
    {% if order.komentarz_zamowienia %}
    <h1 class="my_orders">Komentarz do zamówienia: {{order.komentarz_zamowienia}}</h1>
    {% else %}
    <h1 class="my_orders">Komentarz do zamówienia: Brak</h1>
    {% endif %}
    <h1 class="my_orders">Czy zamówienie zostało potwierdzone przez administrację:
        {% if order.czy_potwierdzone %}
        <span style="color:rgb(49, 84, 197)">{{order.status}}</span>
        {% else %}
        <span style="color:rgb(241, 63, 57)">{{order.status}}</span>
        {% endif %}
    </h1>
    <h1 class="my_orders">Czy zamówienie anulowano:
        {% if order.czy_anulowano %}
        <span style="color:rgb(49, 84, 197)">{{order.anulowano}}</span>
        {% else %}
        <span style="color:rgb(241, 63, 57)">{{order.anulowano}}</span>
        {% endif %}
    </h1>
    <h1 class="my_orders">Czy zamówienie zostało opłacone:
        {% if order.czy_oplacone %}
        <span style="color:rgb(49, 84, 197)">{{order.oplacono}}</span>
        {% else %}
        <span style="color:rgb(241, 63, 57)">{{order.oplacono}}</span>
        {% endif %}
    </h1>
    {% if order.czy_potwierdzone %}
    <a class="set_btn" style="background-color: rgb(49, 84, 197);"
        href="admin_zmien_status_potwierdzenia/{{order.ID}}">Zmień status potwierdzenia</a>
    <a class="set_btn" style="background-color: rgb(59, 195, 236);"
        href="admin_zmien_status_oplacenia/{{order.ID}}">Zmień status opłacenia zamówienia</a>
    {% else %}
    {% if not order.czy_anulowano %}<a class="set_btn" style="background-color: rgb(49, 84, 197);"
        href="admin_zmien_status_potwierdzenia/{{order.ID}}">Zmień status potwierdzenia</a>
    <a class="set_btn" style="background-color: rgb(241, 63, 57); "
        href="admin_zmien_status_anulowania/{{order.ID}}">Zmień status anulowania</a>
    {% else %}
    <a class="set_btn" style="background-color: rgb(241, 63, 57); "
        href="admin_zmien_status_anulowania/{{order.ID}}">Zmień status anulowania</a>
    {% if order.powod_anulowania %}
    <h1 class="my_orders">Powód anulowania: {{order.powod_anulowania}}</h1>
    {% else %}
    <h1 class="my_orders">Powód anulowania: Brak</h1>
    {% endif %}
    <a class="set_btn" style="background-color: rgb(143, 53, 196);"
        href="admin_dodaj_zmien_komentarz1/{{order.ID}}">Dodaj/Zmień komentarz do anulowania</a>
    {% endif %}
    {% endif %}
</div>
{% empty %}
<div class="container">
    <h1 class="my_orders">Brak zamówień</h1>
</div>
{% endfor %}

{% if user_orders.has_other_pages %}
<ul class="pagination">
    {% if user_orders.has_previous %}
    <li><a href="?page={{user_orders.previous_page_number}}">❮</a></li>
    {% endif %}
    {% for i in user_orders.paginator.page_range %}
    {% if user_orders.number == i %}
    <li>{{ i }} (obecna strona)</li>
    {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if user_orders.has_next %}
    <li><a href="?page={{user_orders.next_page_number}}">❯</a></li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}