{% extends "base.html" %}

{% block content %}
{% csrf_token %}

<div class="account_user">
    <table class="zamowienie_table">
        <th>Nazwa użytkownika</th>
        <th>E-mail</th>
        <th>Numer telefonu</th>
        </tr>
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone_number }}</td>
        </tr>
        <tr>
            <th colspan="2">Wartość zamówień oczekujących na zatwierdzenie</th>
            <th colspan="1">Moje saldo</th>
        </tr>
        <tr>
            <td colspan="2">{{user.waiting_balance}} zł</td>
            <td colspan="1">{{user.balance}} zł</td>
        </tr>
    </table>
    <a class="zamowienie_btn" style="background-color: rgb(49, 84, 197);" href="edytujkonto/{{user.ID}}">Edytuj dane o
        koncie</a>
</div>
{% endblock %}