{% extends "base.html" %}

{% block content %}
{% csrf_token %}
<h1 class="my_orders_header">Moje zamówienia</h1>
{% for order in orders %}
<div class="container" style="padding-bottom: 18px;">
  <table class="zamowienie_table">
    <tr>
      <th colspan="3">Nazwa zestawu</th>
    </tr>
    <tr>
      <td colspan="3">{{ order.zestaw.nazwa_zestawu }}</td>
    </tr>
    <tr>
      <th colspan="1">Data zestawu</th>
      <th colspan="2">Data zamówienia</th>
    </tr>
    <tr>
      <td colspan="1">{{ order.zestaw.data_zestawu }}</td>
      <td colspan="2">{{ order.data_zamowienia }}</td>
    </tr>
    <tr>
      <th>Cena za sztukę</th>
      <th>Ilość sztuk</th>
      <th>Do zapłaty</th>
    </tr>
    <tr>
      <td>{{order.zestaw.cena_zestawu}} zł</td>
      <td>{{order.ilosc_zestawow}}</td>
      <td>{{order.do_zaplaty}} zł</td>
    </tr>
    <tr>
      <th colspan="3">Komentarz do zamówienia</th>
    </tr>
    <tr>
      <td colspan="3">
        {% if order.komentarz_zamowienia %}
        {{order.komentarz_zamowienia}}
        {% else %}
        Brak
        {% endif %}
      </td>
    </tr>
    <tr>
      <th colspan="2">Czy potwierdzono przez administrację</th>
      <th colspan="1">Czy opłacono</th>
    </tr>
    <tr>
      <td style="font-weight: 500; font-size: 19px;" colspan="2">
        {% if order.czy_potwierdzone %}
        <span style="color:rgb(30, 197, 30)">{{order.status}}</span>
        {% else %}
        <span style="color:rgb(238, 49, 42)">{{order.status}}</span>
        {% endif %}
      </td>
      <td style="font-weight: 500; font-size: 19px;" colspan="1">
        {% if order.czy_oplacone %}
        <span style="color:rgb(30, 197, 30)">{{order.oplacono}}</span>
        {% else %}
        <span style="color:rgb(238, 49, 42)">{{order.oplacono}}</span>
        {% endif %}
      </td>
    </tr>
  </table>
  {% if not order.czy_anulowano %}
  {% if not order.czy_potwierdzone %}
  <a class="zamowienie_btn" style="background-color: rgb(179, 21, 21);" href="zamowienie_anuluj/{{order.ID}}">Anuluj
    zamówienie</a>
  <a class="zamowienie_btn" style="background-color: rgb(27, 45, 209);" href="edytujzamowienie/{{order.ID}}">Edytuj
    zamówienie</a>
  {% endif %}
  {% else %}
  <h1 class="my_orders" style="color: rgb(179, 21, 21);">Twoje zamówienie zostało anulowane.</h1>
  {% if order.powod_anulowania %}
  <h1 class="my_orders">Powód anulowania: {{order.powod_anulowania}}</h1>
  {% endif %}
  {% endif %}

</div>
{% empty %}
<div class="container">
  <h1 class="my_orders">Brak zamówień</h1>
</div>
{% endfor %}

{% if orders.has_other_pages %}
<ul class="pagination">
  {% if orders.has_previous %}
  <li><a href="?page={{orders.previous_page_number}}">❮</a></li>
  {% endif %}
  {% for i in orders.paginator.page_range %}
  {% if orders.number == i %}
  <li>{{ i }} (obecna strona)</li>
  {% else %}
  <li><a href="?page={{ i }}">{{ i }}</a></li>
  {% endif %}
  {% endfor %}
  {% if orders.has_next %}
  <li><a href="?page={{orders.next_page_number}}">❯</a></li>
  {% endif %}
</ul>
{% endif %}

{% endblock %}