{% extends "base.html" %}

{% block content %}
{% csrf_token %}

{% for order in orders %}
<div class="container">
  <h1 class="my_orders">Nazwa zestawu: {{order.zestaw.nazwa_zestawu}}</h1>
  <h1 class="my_orders">Data zestawu: {{order.zestaw.data_zestawu}}</h1>
  <h1 class="my_orders">Data zamówienia: {{order.data_zamowienia}}</h1>
  <h1 class="my_orders">Cena pojedynczego zestawu: {{order.zestaw.cena_zestawu}} zł</h1>
  <h1 class="my_orders">Ile zestawów zamówiono: {{order.ilosc_zestawow}}</h1>
  <h1 class="my_orders">Kwota do zapłaty: {{order.do_zaplaty}} zł</h1>
  <h1 class="my_orders">Czy zamówienie zostało potwierdzone przez administrację:
    {% if order.czy_potwierdzone %}
    <span style="color:rgb(49, 84, 197)">{{order.status}}</span>
    {% else %}
    <span style="color:rgb(241, 63, 57)">{{order.status}}</span>
    {% endif %}
  </h1>
  <h1 class="my_orders">Czy wpłynęła opłata za zamówienie:
    {% if order.czy_oplacone %}
    <span style="color:rgb(49, 84, 197)">{{order.oplacono}}</span>
    {% else %}
    <span style="color:rgb(241, 63, 57)">{{order.oplacono}}</span>
    {% endif %}
  </h1>
  {% if order.komentarz_zamowienia %}
  <h1 class="my_orders">Komentarz do zamówienia: {{order.komentarz_zamowienia}}</h1>
  {% else %}
  <h1 class="my_orders">Komentarz do zamówienia: Brak</h1>
  {% endif %}
  {% if not order.czy_anulowano %}
  {% if not order.czy_potwierdzone %}
  <a class="set_btn" href="zamowienie_anuluj/{{order.ID}}">Anuluj zamówienie</a>
  {% endif %}
  {% else %}
  <h1 class="my_orders" style="color: rgb(179, 21, 21);">Twoje zamówienie zostało anulowane.</h1>
  {% if order.powod_anulowania %}
  <h1 class="my_orders">Powód anulowania: {{order.powod_anulowania}}</h1>
  {% endif %}
  {% endif %}

</div>
{% empty %}
<div class="container">
  <h1 class="my_orders">Brak zamówień</h1>
</div>
{% endfor %}


{% if orders.has_other_pages %}
<ul class="pagination">
  {% if orders.has_previous %}
  <li><a href="?page={{orders.previous_page_number}}">❮</a></li>
  {% endif %}
  {% for i in orders.paginator.page_range %}
  {% if orders.number == i %}
  <li>{{ i }} (obecna strona)</li>
  {% else %}
  <li><a href="?page={{ i }}">{{ i }}</a></li>
  {% endif %}
  {% endfor %}
  {% if orders.has_next %}
  <li><a href="?page={{orders.next_page_number}}">❯</a></li>
  {% endif %}
</ul>
{% endif %}

{% endblock %}