{% extends "base.html" %}

{% block content %}
{% csrf_token %}


<div class="set_container" style="width: 70%;">
    <h1>{{singleset.nazwa_zestawu}}</h1>
    <div id="slideshow">
        {% for d in data %}
        <div>
            {% if d.danie.zdjecie %}
            <img class="dish_slide" src="{{ d.danie.zdjecie.url }}" />
            <label class="slide_label">{{d.danie.nazwa_dania}}</label>
            {% else %}
            <img class="dish_slide" src="/media/static/brak_zdjecia.png" />
            <label class="slide_label">{{d.danie.nazwa_dania}}</label>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% for d in data %}
    <h1>{{d.danie.typ_dania.nazwa_typu_dania}} - {{d.danie.nazwa_dania}}</h1>
    <p>Posiłek składa się z:</p>
    {% for i in ing %}
    {% if d.danie.ID == i.danie.ID %}
    <p>{{i.skladnik.nazwa_skladnika}} {{i.skladnik.wielkosc_porcji_skladnika}} g {{i.skladnik.energia_skladnika_kcal}}
        kcal</p>
    {% endif %}
    {% empty %}
    <p>Brak składników</p>
    {% endfor %}
    <p> {{d.danie.komentarz}} </p>
    {% empty %}
    <p>Brak dań</p>
    {% endfor %}
    {% if today <= singleset.data_zestawu %} <h2>Zestaw będzie ważny w dniu {{singleset.data_zestawu}}</h2>
        <a class="set_btn" href="zamow/{{singleset.ID}}">Zamów</a>
        {% else %}
        <h2>Zestaw był ważny w dniu {{set.data_zestawu}}</h2>
        {% endif %}
        <h2>Cena: {{singleset.cena_zestawu}} zł</h2>
</div>

<script>
    $("#slideshow > div:gt(0)").hide();

    setInterval(function () {
        $('#slideshow > div:first')
            .fadeOut(700)
            .next()
            .fadeIn(700)
            .end()
            .appendTo('#slideshow');
    }, 5000);
</script>
{% endblock %}